<h1>Clima de Ciudades</h1>

<div class="main-container">
  <div class="select-container">
    <h4>Selecciona una ciudad</h4>
    <mat-form-field>
      <mat-label>Ciudad</mat-label>
      <mat-select
        [ngModel]="selected"
        (selectionChange)="onCityChange($event.value)"
      >
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="add-container">
    <h4>¿Deseas agregar una ciudad a la lista?</h4>
    <form class="example-form" (ngSubmit)="onAddCity()">
      <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <input
          matInput
          placeholder="Ex. Medellin"
          [(ngModel)]="newCity"
          name="newCity"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Agregar</button>
    </form>
  </div>

  <div class="result-container" *ngIf="weather$ | async as weather">
    <p>
      Temperatura en <b>{{ weather.request.query }}</b
      >:
    </p>
    <h3>{{ weather.current.temperature }} °C</h3>
  </div>
</div>
